<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">FBeauty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/allproducts">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eyeliner">Eyeliner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lipstick">Lipstick</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mascara">Mascara</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/concealer">Concealer</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/basket">Buy Product <span class="sr-only">(current)</span></a>
        </li>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/order">My Orders <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>


  </nav>